
<div class="modal-dialog basecurrencymodaldialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><i class="icon icon-rewards-icon"></i> Base Currency Update</h4>
        </div>
        <div class="modal-body">
            <div class="basecurrencymodalbody">Great! Looks like you are updating the base currency. This will auto calculate the current budget numbers. </div>
            @*<div class="bcbudget">Current Budget is <span class="semibold">$15,000</span></div>
            <div class="bcbudget">Currency conversion of the last updated base currency is <span class="semibold"> 1 INR = USD <input type="text" class="" placeholder="0.015" /></span></div>
            <div class="bcbudget">New Budget will be <span class="semibold">&#8377;17,000</span></div>*@
        </div>
        <div class="modal-footer">
            <div class="pull-left">Do you want to update currency and calculate the budget? </div>
            <button type="button" class="btn btn-cancel"  id="btnCancelBaseCurrency">No</button>
            <button type="button" class="btn btn-info prim-btn" id="btnChangeBaseCurrency">Yes</button>
        </div>
    </div>
</div>

