<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="SAMLSkeletonFile" value="~/SAML/SAMLRequest.xml"/>
    <add key="TargetURL" value="http://192.168.1.104/samlsso"></add>
    <!--<add key="TargetURL" value="http://localhost:50730/"></add>-->
    <!--<add key="TargetURL" value="https://sso2.lairdtech.com/laserbeam/default.aspx"></add>-->
  </appSettings>
</configuration>
