@*@{
        ViewBag.Title = "NoData";
        Layout = "~/Views/Shared/_SiteLayout.cshtml";
    }*@

<script type="text/javascript">
    $("#ajaxLoadingPanel").hide();
</script>
<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="~/Images/no_data-bicon.png">
            </div>
            <div class="big30">No data shared</div>
            <div style="font-size: 17px;padding-top: 15px;line-height: 30px;color:#333;">
                We searched far and wide and couldn't find any employee information. <br /> Please contact your adminstrator or upload the
                <a href="@Url.Action("Home", "Workforce")" class="red-link2">workforce data</a>
            </div>
           
        </div>
    </div>
</div>

