<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="images/announcement-bicon.png">
            </div>
            <div class="big30">You don’t have any announcement right now</div>
            <div class="big21">When admins post any announcement, you will see it here</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="images/comment-bicon.png">
            </div>
            <div class="big30">You have no comments here</div>
            <div class="big21">Enter your comment in the below text box and tap on 'Add Comment' button</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="images/task-bicon.png">
            </div>
            <div class="big30">There are no tasks to show</div>
            <div class="big21">Tap the ‘add task’ button to add some</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="images/connection-bicon.png">
            </div>
            <div class="big30">Oh no!</div>
            <div class="big21">No internet found. Check your connection or refresh your page</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="../../Images/techissues-bicon.png">
            </div>
            <div class="big30">Oops! Something wrong here...</div>
            <div class="big21">Sorry. We’re having some technical issues <br />(try to refresh the page)</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="images/notification-bicon.png">
            </div>
            <div class="big30">No message notification</div>
            <div class="big21">When admins post any notification, you will see it here</div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-12">
        <div class="img-padding text-center">
            <div class="img-responsive">
                <img src="~/Images/no_data-bicon.png">
            </div>
            <div class="big30">No data yet</div>
            <div class="big21">We are not seeing any employee record uploaded into the tool. To view the budget section, upload the <a href="" class="red-link2"></a>workforce data</a></div>
        </div>
    </div>
</div>*@

